header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.violet {
    color:blueviolet;
}

.container {
text-align: center;
margin: 40px;
padding: 0 400px;
}

.startbutton{
    background-color: #330066;
    color: white;
    padding: 5px;
}

.buttonZero {
    border: none;
}


.button {
    background-color: #330066;
    color: white;
    padding: 5px;
    display: block;
    margin-left: 80px;
    margin-top: 5px;
}

.forResult {
    font-weight: bold;
    font-size: 40px;
    color: red;
    text-align: center;
    border-top: red solid;
}

.forResult1 {
    font-weight: bold;
    font-size: 40px;
    color: green;
    text-align: center;
    border-top: green solid;
}

.input {
    background-color: whitesmoke;
  border-radius: 3px;
  border-width: 1px;
  color: #5f6368;
  font-size: 1.1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}